{% extends "en/base_en.html" %}
{% block content %}
    <a href="seminar.html">Laboratory seminar (in Russian)</a><br/><br/>

<b>Conferences (planned):</b></br><br/>
<a href="en/sbs100/index.html">Конференция, посвященная 100-летию со дня рождения С.Б. Стечкина (7-11 сентября 2019 г.)</a><br/><br/>

<b>Conferences (done):</b></br><br/>
<a href="https://nnov.hse.ru/en/latna/conferences/ada2019">School-conference "Approximation and Data Analysis", with HSE and IPM (Nizhny Novgorod, September 30 -- October 4, 2019)</a><br/><br/>
<a href="https://kpfu.ru/math/conference/letnyaya-shkola-konferenciya-39teoriya-funkcij/xiv-shkola-konferenciya-39teoriya-funkcij-ejo">XIV school-conference "Theory of functions and applications", with KSU (Kazan, September 7-12, 2019)</a><br/><br/>
<a href="en/conf2018/index.html">Conference "High-dimensional approximation and discretization" (September 23—29 2018)</a><br/><br/>
{% endblock %}
