{% extends "en/base_en.html" %}
{% block content %}

<h1><img src="media/croco-logo-1.png" style="width:100px"/>Laboratory &quot;High-dimensional approximation and applications&quot;</h1>

<hr>
<h3>Current</h3>

<p>
<a href="seminar.html">Laboratory seminar (in Russian)</a>
</p>

<p>
<a href="greedyconf2019/index.html">Conference on greedy approximation - POSTPONED</a>
</p>

<p>
<a href="en/sbs100/index.html">Conference, dedicated to the 100-th birthday of S.B. Stechkin - POSTPONED</a>
</p>

<hr>
<h3>News archive</h3>

<p>
<a href="https://nnov.hse.ru/en/latna/conferences/ada2019">School-conference "Approximation and Data Analysis", with HSE and IPM (Nizhny Novgorod, September 30 -- October 4, 2019)</a>, see photos: <a href="https://yadi.sk/d/06_E5RQ_bjNYVQ">here</a>.

</p>

<p>
<a href="https://kpfu.ru/math/conference/letnyaya-shkola-konferenciya-39teoriya-funkcij/xiv-shkola-konferenciya-39teoriya-funkcij-ejo">XIV school-conference "Theory of functions and applications", with KSU (Kazan, September 7-12, 2019)</a>
</p>

<p>
<a href="en/conf2018/index.html">Conference "High-dimensional approximation and discretization" (September 23—29, 2018)</a>
</p>


{% endblock %}
