{% extends "en/base_en.html" %}
{% block content %}

N/A
<!--
<h2>2019</h2>

<p>
V.N. Temlyakov,
"Smooth fixed volume discrepancy, dispersion, and related problems",
Journal of Approximation Theory, v.237.
</p>

<p>
V.N. Temlyakov,
"A unified way of analyzing some greedy algorithms",
Journal of Functional Analysis, 277:12.
</p>

<p>
V.N. Temlyakov,
"Integral norm discretization and related problems",
Mathematical Surveys(2019), 74:4.
</p>

<p>
B.S. Kashin, I.V. Limonova,
"Decomposing a Matrix into two Submatrices with Extremally Small (2,1)-Norm",
Mathematical Notes, 106:1.
</p>

<p>
B.S. Kashin, I.V. Limonova,
"Selecting a dense weakly lacunary subsystem in a bounded orthonormal system",
Russian Mathematical Surveys, 74:5.
</p>

<p>
A.A. Kuleshov,
"Continuous sums of ridge functions on a convex body with Dini condition on moduli of continuity at boundary points",
Analysis Mathematica, 45:2.
</p>

<p>
K.S. Ryutin,
"Recovering sparse integer vectors from linear measurements",
Russian Mathematical Surveys, 74.
</p>

<h2>2018</h2>

<p>
V.N. Temlyakov,
"The Marcinkiewicz-Type Discretization Theorems", 
Constructive Approximation v.48.
</p>

<p>
V.N. Temlyakov,
"Universal discretization",
Journal of Complexity, v.47.
</p>

<p>
V.N. Temlyakov,
B.S. Kashin,
"Observations on discretization of trigonometric polynomials with given spectrum",
Uspekhi Mat. Nauk, Volume 73, Issue 6.
</p>

<p>
V.N. Temlyakov, S.J. Dilworth, D. Kutzarova, B. Wallis,
"Weight-almost greedy bases",
Proc. Steklov Inst. Math., 303.
</p>

<p>
P.A. Borodin,
S.V. Konyagin,
"Convergence to zero of exponential sums with positive integer coefficients and
approximation by sums of shifts of a single function on the line",
Analysis Mathematica, т.44, N.2.
</p>

<p>
S.V. Konyagin,
A.A. Kuleshov,
"Некоторые проблемы теории ридж-функций",
Труды МИАН, т.301.
</p>

<p>
B.S. Kashin,
K.S. Ryutin,
"Kolmogorov width and approximate rank",
Proc. Steklov Inst. Math., V.303.
</p>

-->
{% endblock %}
