{% extends "en/base_en.html" %}
{% block content %}

<h2>2018</h2>

<p>
V.N. Temlyakov,
"The Marcinkiewicz-Type Discretization Theorems", 
Constructive Approximation v.48.
</p>

<p>
V.N. Temlyakov,
"Universal discretization",
Journal of Complexity, v.47.
</p>

<p>
V.N. Temlyakov,
B.S. Kashin,
"Observations on discretization of trigonometric polynomials with given spectrum",
Uspekhi Mat. Nauk, Volume 73, Issue 6.
</p>

<p>
V.N. Temlyakov, S.J. Dilworth, D. Kutzarova, B. Wallis,
"Weight-almost greedy bases",
Proc. Steklov Inst. Math., 303.
</p>

<p>
P.A. Borodin,
S.V. Konyagin,
"Convergence to zero of exponential sums with positive integer coefficients and
approximation by sums of shifts of a single function on the line",
Analysis Mathematica, т.44, N.2.
</p>

<p>
S.V. Konyagin,
A.A. Kuleshov,
"Некоторые проблемы теории ридж-функций",
Труды МИАН, т.301.
</p>

<p>
B.S. Kashin,
K.S. Ryutin,
"Kolmogorov width and approximate rank",
Proc. Steklov Inst. Math., V.303.
</p>
{% endblock %}
