{% extends "en/base_en.html" %}

{% block htmlbase %}
    <base href="../../">
{% endblock %}

{% block content %}
<h1>International conference &quot;Stechkin-100&quot;</h1>

<h1>Conference is postponed till undefined date due to epidemic.</h1>

<table>
<tr>
    <td style="vertical-align:top">
        <ul class="left_menu">
            <!-- <li><a href="en/sbs100/index.html">Home</a></li> -->
            <!-- <li><a href="en/conf2018/committee.html">Committee</a></li>
            <li><a href="en/conf2018/directions.html">Directions</a></li>
            <li><a href="en/conf2018/participants.html">Participants</a></li>
            <li><a href="en/conf2018/program.html">Program</a></li>
            <li><a href="en/conf2018/contacts.html">Contacts</a></li> -->
        </ul>
    </td>
    <td style="vertical-align:top">
        {% block confcontent %}
        {% endblock %}
    </td>
</tr>
</table>

{% endblock %}
