{% extends "en/sbs100/base_conf.html" %}

{% block confcontent %}

Organizing commitee: 
<ul>
    <li>D.V. Treshchev (chair)</li>
    <li>V.N. Temlyakov (chair)</li>
    <li>S.V. Konyagin (chair)</li>
    <li>Yu.V. Malykhin (deputy chair)</li>
    <li>O.S. Goryainova (scientific secretary)</li>
    <li>A.Yu. Shadrin</li>
    <li>K.S. Ryutin</li>
    <li>N.Yu. Andreev</li>
    <li>M.R. Gabdullin</li>
</ul>

Program commitee:
<ul>
    <li>V.N. Berdyshev (chair)</li>
    <li>B.S. Kashin (chair)</li>
    <li>N.Yu. Antonov</li>
    <li>V.V. Арестов</li>
    <li>O.V. Бесов</li>
    <li>V.I. Иванов</li>
    <li>S.V. Конягин</li>
    <li>B. Сендов</li>
    <li>S.A. Теляковский</li>
    <li>V.N. Temlyakov</li>
    <li>N.N. Холщевникова</li>
    <li>I.G. Tsarkov</li>
    <li>N.I. Черных</li>
    <li>A.Yu. Shadrin</li>
</ul>


{% endblock %}
