{% extends "en/sbs100/base_conf.html" %}

{% block confcontent %}

Confirmed plenary speakers:
<ul>
    <li>Nikolai Antonov</li>
    <li>Vitalii Arestov</li>
    <li>Vitalii Berdyshev</li>
    <li>Yuri Volkov</li>
    <li>Gegam Gevorgyan</li>
    <li>Valerii Ivanov</li>
    <li>Sergey Konyagin</li>
    <li>Alexey Lukashov</li>
    <li>Veniamin Krotov</li>
    <li>Vladimir Tikhomirov</li>
    <li>Sergey Tikhonov</li>
    <li>Igor Tsarkov</li>
    <li>Nikolai Chernykh</li>
    <li>Alexei Shadrin</li>
    <li>Albert Cohen</li>
    <li>Feng Dai</li>
    <li>Gustavo Garrigos</li>
    <li>Peter Oswald</li>
    <li>Szilárd Révész</li>
    <li>Julian Sahasrabudhe</li>
    <li>Tino Ullrich</li>
</ul>

Sections:
<ol>
    <li>Approximation in Banach spaces. Organizers: I.G. Tsarkov, P.A. Borodin.</li>
    <li>Harmonic analysis. Organizers: S.V. Konyagin.</li>
    <li>Multivariate approximation. Organizers: P. Oswald, T.Ullrich.</li>
    <li>Discretization. Organizers: V.N. Temlyakov.</li>
</ol>

Organizing commitee: 
<ul>
    <li>D.V. Treshchev (chair)</li>
    <li>V.N. Temlyakov (chair)</li>
    <li>S.V. Konyagin (chair)</li>
    <li>Yu.V. Malykhin (deputy chair)</li>
    <li>O.S. Goryainova (scientific secretary)</li>
    <li>A.Yu. Shadrin</li>
    <li>K.S. Ryutin</li>
    <li>N.Yu. Andreev</li>
    <li>M.R. Gabdullin</li>
</ul>

Program commitee:
<ul>
    <li>V.N. Berdyshev (chair)</li>
    <li>B.S. Kashin (chair)</li>
    <li>N.Yu. Antonov</li>
    <li>V.V. Арестов</li>
    <li>O.V. Бесов</li>
    <li>V.I. Иванов</li>
    <li>S.V. Конягин</li>
    <li>B. Сендов</li>
    <li>S.A. Теляковский</li>
    <li>V.N. Temlyakov</li>
    <li>N.N. Холщевникова</li>
    <li>I.G. Tsarkov</li>
    <li>N.I. Черных</li>
    <li>A.Yu. Shadrin</li>
</ul>

Contacts: approx.lab.msu@gmail.com

{% endblock %}
