{% extends "en/base_en.html" %}

{% block htmlbase %}
    <base href="../../">
{% endblock %}

{% block content %}
<h1>International conference &quot;High-dimensional approximation and discretization&quot;, Moscow, September 23&mdash;29</h1>

<table>
<tr>
    <td style="vertical-align:top">
        <ul class="left_menu">
            <li><a href="en/conf2018/index.html">Home</a></li>
            <li><a href="en/conf2018/committee.html">Committee</a></li>
            <li><a href="en/conf2018/venue.html">Venue</a></li>
            <li><a href="en/conf2018/participants.html">Participants</a></li>
            <li><a href="en/conf2018/program.html">Program</a></li>
            <li><a href="en/contacts.html">Contacts</a></li>
        </ul>
    </td>
    <td style="vertical-align:top">
        {% block confcontent %}
        {% endblock %}
    </td>
</tr>
</table>

{% endblock %}
