{% extends "en/conf2018/base_conf.html" %}

{% block confcontent %}

<h2>Conference venue: Moscow State University</h2>

Moscow State University, Main Building, Faculty of Mechanics and Mathematics, room 16-16.
Official address: Moscow, Leninskiye Gory Microdistrict, 1. To enter you need a passport.<br/>

How to reach:
<ul>
    <li>from the metro station "Universitet": follow the exit №1 to the
        Lomonosovsky prospekt, cross the street. Then walk along the
        Lomonosovsky prospect to Lebedev street or you take one of the
        buses 1, 113, 119, 464, 572, 661 to the station 
        "Palace of Culture of MSU".</li>
    <li>from the metro station "Lomonosovsky prospekt" follow
        the exit №5 to the Akademika Khokhlova street and walk along the
        Akademika Khokhlova street.</li>
    <li>from the Hotel "Universitetskaya": walk to the metro station
        "Lomonosovsky prospekt" and cross the street through the underground
        cross. Follow the exit №5 to the Akademika Khokhlova street and walk along
    the Akademika Khokhlova street.</li>
</ul>
<a href="media/MSU.jpg"><img style="width:400px" src="media/MSU.jpg"></a>

<h2>Hotel &quot;Universitetskaya&quot;</h2>
8-1 Michurinsky Prospekt, Moscow. How to reach:
<ul>
    <li> from the metro station "Lomonosovsky prospekt": follow the exit №3 to the Indira Gandhi square. Go
        straight 100 meters;</li>
    <li> from the metro station "Universitet" use the exit to the Lomonosovsky
        prospekt, cross the street. Take buses  103, 130, 187, 260, 470, 487,
        67, 908 or trolleybuses 34, 34k and follow up to the “Metro
        Lomonosovsky prospekt” stop.  Cross the street and walk along to the
        Indira Gandhi square side. The hotel is situated  400 meters away from
        the bus stop.</li>
</ul>

<a href="media/HotelUniver.png"><img style="width:400px" src="media/HotelUniver.png"></a>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A67d43d87ab46ec444c0deacc9cb23a5ef728d029186c43026c7d9acdd34ce5d5&amp;width=816&amp;height=720&amp;lang=en_FR&amp;scroll=true"></script>

<hr>

<h2>Steklov Mathematical Institute</h2>
8 Gubkina St. Moscow. In Russian: MIAN (МИАН - Математический Институт Академии Наук).
To enter you need a passport.<br/>
How to reach:
<ul>
    <li>from the metro station "Akademicheskaya": follow the exit №5. Then walk
        along the Dmitriya Ulyanova street to the crossroad. Turn right to the
        Vavilova street (with tram rails) and walk along till the Gubkina
        street;</li>
    <li>from the metro station "Universitet": follow the exit №2 (in the center of the metro station),
        take a tram 14 or 39 to the station "Gubkina st".</li>
    <li>from Hotel "Universitetskaya" or metro station "Lomonovoskii prospekt":
        <ul>
            <li>you can reach bus station "Metro Universitet": walk to the
                "Lomosovsky prospekt" bus stop. Take buses 103, 130, 487, 67,
                845, 908 and follow up to the "Metro Universitet" stop. (using
                one of the buses 103, 130, 487, 67, 845, 908) and then switch to
                tram 14 or 39 (see above);
            </li>
            <li>or: first, you can reach station "Leninskiy prospekt" using one
                of the buses 103, 130, 487, 67, 845, 908. Then walk along and cross Leninskiy
                prospekt and take a bus (144, 144к, 553, м1, Н11) or trolleybus м4
            to the "Univermag Moskva" stop. Then walk into the Gubkina st.</li>
</ul>

<a href="media/MIAN.jpg"><img style="width:400px" src="media/MIAN.jpg"></a>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acfc7561d46dacae49ca24b375ed8788fb36c238b0e9866a09b2b456ff5c83a63&amp;width=727&amp;height=525&amp;lang=en_FR&amp;scroll=true"></script>


{% endblock %}
