{% extends "en/conf2018/base_conf.html" %}

{% block confcontent %}

Guest speakers:
<ul>
    <li>N.Yu. Antonov (Ekaterinburg)</li>
    <li>S.V. Astashkin (Samara)</li>
    <li>D. Bazarkhanov (Kazashstan)</li>
    <li>G. Byrenheid (Germany)</li>
    <li>D.V. Gorbachev (Tula)</li>
    <li>V.I. Ivanov (Tula)</li>
    <li>G. Kerkyacharian (France)</li>
    <li>E.A. Lebedeva (St-Petersburg)</li>
    <li>S.F. Lukomskii (Saratov)</li>
    <li>M.G. Plotnikov (Vologda)</li>
    <li>A. Shadrin (UK)</li>
    <li>M.A. Skopina (St-Petersburg)</li>
    <li>M. Skriganov (St-Petersburg)</li>
    <li>P.A. Terekhin (Saratov)</li>
    <li>A. Uschmajew (Germany)</li>
    <li>M. Ullrich (Germany)</li>
    <li>... and more</li>
</ul>

{% endblock %}
