{% extends "en/conf2018/base_conf.html" %}

{% block confcontent %}

<h2>Conference venue: Moscow State University</h2>

Faculty of Mechanics and Mathematics, 1 Leninskiye Gory, Main
Building, Lomonosov Moscow State University, Moscow, Russia.

How to reach: 1) at the metro station "Universitet" follow the exit to the
Lomonosovsky prospekt, cross the street and walk along the Lomonosovsky
prospect to Lebedev street or you can  take one of the buses  119, 661, 464,
572,111.  2) at the metro station "Lomonosovsky prospekt" follow the exit to
the Akademika Khokhlova street and walk along the Akademika Khokhlova street.

<a href="http://en.math.msu.su/node/379">Directions</a>

<h2>Steklov Mathematical Institute</h2>
8 Gubkina St. Moscow. <a href="http://www.mi-ras.ru/index.php?c=map&l=1">Directions</a>.

<h2>Hotel &quot;Universitetskaya&quot;</h2>
8-1 Michurinsky Prospekt, Moscow, Russia.  How to reach: 1) at the metro
station "Lomonosovsky prospekt" follow the exit to the Indira Gandhi square. Go
straight 100 meters; 2)  at the metro station "Universitet" use the exit to the
Lomonosovsky prospekt, cross the street. Take buses  103, 130, 187, 260, 470,
487, 67, 908 or trolleybuses 34, 34k and follow up to the “Metro Lomonosovsky
prospekt” stop.  Cross the street and walk along to the Indira Gandhi square
side. The hotel is situated  400 meters away from the bus stop.

{% endblock %}
