{% extends "base.html" %}
{% block htmltitle %}
Сайт лаборатории
{% endblock %}
{% block header %}
    <ul class="menu">
        <li>
            <a href="{{ chlang_ref }}">
                <img style="display:inline" src="media/eng.gif"/>&nbsp;EN
            </a>
        </li>
        <li><a href="index.html">Главное</a></li>
        <li><a href="about.html">О лаборатории</a></li>
        <li><a href="staff.html">Сотрудники</a></li>
        <li><a href="events.html">События</a></li>
        <li><a href="publications.html">Публикации</a></li>
        <li><a href="contacts.html">Контакты</a></li>
    </ul>
{% endblock %}
