{% extends "base_ru.html" %}

{% block content %}
<br/>
<a href="seminar.html">Семинар лаборатории</a><br/><br/>
<a href="spk2018.html">Спецкурс 2018/2019</a><br/><br/>

<br/>
<b>Планируемые конференции:</b></br><br/>
<a href="sbs100/index.html">Конференция, посвященная 100-летию со дня рождения С.Б. Стечкина (7-11 сентября 2019 г.)</a><br/><br/>

<b>Проведённые конференции:</b></br><br/>
<a href="https://nnov.hse.ru/en/latna/conferences/ada2019">Школа-конференция "Аппроксимация и анализ данных", совм. с ВШЭ и ИПМ (Нижний Новгород, 30 сентября -- 4 октября 2019 г.)</a><br/><br/>
<a href="https://kpfu.ru/math/conference/letnyaya-shkola-konferenciya-39teoriya-funkcij/xiv-shkola-konferenciya-39teoriya-funkcij-ejo">XIV школа-конференция "Теория функций, её приложения и смежные вопросы", совм. с КФУ (Казань, 7-12 сентября 2019 г.)</a><br/><br/>
<a href="conf2018/index.html">Конференция "Многомерная аппроксимация и дискретизация" (23-29 сентября 2018 г.)</a><br/><br/>
{% endblock %}

