{% extends "base_ru.html" %}

{% block content %}
<h1><img src="media/croco-logo-1.png" style="width:100px"/>&nbsp;Лаборатория &quot;Многомерная аппроксимация и приложения&quot;</h1>

<hr/>
30 сентрября - 4 октября 2019 г. в Нижнем Новгороде при поддержке лаборатории пройдёт Международная конференция "Аналитические и численные методы в обработке «больших данных»".
<h3>Архив новостей:</h3>
21-27 августа 2019 г. при поддержке лаборатории прошла XIII Международная Казанская летняя школа-конференция "Теория функций, ее приложения и смежные вопросы": <a href="http://www.mathnet.ru/php/conference.phtml?confid=1056&option_lang=rus">сайт конференции</a>.
23-29 сентября 2018 г. лаборатория провела конференцию по дискретизации. <a href="conf2018/index.html">Подробнее ...</a></br>
{% endblock %}
