{% extends "base_ru.html" %}

{% block content %}
<h1><img src="media/croco-logo-1.png" style="width:100px"/>&nbsp;Лаборатория &quot;Многомерная аппроксимация и приложения&quot;</h1>

<hr>
<h3>Актуальная информация</h3>

<p>
<a href="seminar.html">Семинар лаборатории</a>
</p>

<p>
Планируется проведение <a href="greedyconf2019/index.html">конференции по жадным приближениям</a>.
Конференция переносится на неопределённый срок в связи с эпидемиологической ситуацией.
</p>

<p>
Планируется проведение
<a href="sbs100/index.html">конференции, посвященной 100-летию со дня рождения С.Б. Стечкина</a>
Конференция переносится на неопределённый срок в связи с эпидемиологической ситуацией.
</p>

<p>
В 2020/2021 учёбном году читается спецкурс <a href="spk2020.html">"Геометрические и комбинаторные свойства матриц и аппроксимация"</a>.
</p>

<hr>
<h3>Архив новостей</h3>

<p>
В 2019/2020 учёбном году читается спецкурс <a href="spk2019.html">"Современные методы теории аппроксимации"</a>.
</p>

<p>
30 сентября - 4 октября 2019 г. при поддержке лаборатории (совм. с ВШЭ и ИПМ) была проведена
<a href="https://nnov.hse.ru/en/latna/conferences/ada2019">Школа-конференция "Аппроксимация и анализ данных" (Нижний Новгород)</a>, фотографии: <a href="https://yadi.sk/d/06_E5RQ_bjNYVQ">здесь</a>.
</p>

<p>
7-12 сентября 2019 г. при поддержке лаборатории (совм. с КФУ) была проведена
<a href="https://kpfu.ru/math/conference/letnyaya-shkola-konferenciya-39teoriya-funkcij/xiv-shkola-konferenciya-39teoriya-funkcij-ejo">XIV школа-конференция "Теория функций, её приложения и смежные вопросы" (Казань)</a>
</p>

<p>
23-29 сентября 2018 г. лаборатория провела конференцию
<a href="conf2018/index.html">"Многомерная аппроксимация и дискретизация"</a>
</p>

<p>
В 2018/2019 учебном году был прочитан спецкурс <a href="spk2018.html">"Теория приближений и приложения"</a>
</p>

{% endblock %}
