{% extends "base_ru.html" %}

{% block content %}
<h2>2018</h2>

<p>
В.Н. Темляков,
"The Marcinkiewicz-Type Discretization Theorems", 
Constructive Approximation v.48.
</p>

<p>
В.Н. Темляков,
"Universal discretization",
Journal of Complexity, v.47.
</p>

<p>
В.Н. Темляков,
Б.С. Кашин,
"Замечания о дискретизации тригонометрических многочленов с заданным спектром",
Успехи матем. наук, т.73.
</p>

<p>
В.Н. Темляков,
"Весовые почти жадные базисы",
Труды МИАН, т.303.
</p>

<p>
П.А. Бородин,
С.В. Конягин,
"Convergence to zero of exponential sums with positive integer coefficients and
approximation by sums of shifts of a single function on the line",
Analysis Mathematica, т.44, N.2.
</p>

<p>
С.В. Конягин,
А.А. Кулешов,
"Некоторые проблемы теории ридж-функций",
Труды МИАН, т.301.
</p>

<p>
Б.С. Кашин,
К.С. Рютин,
Ю.В. Малыхин,
"Поперечник по Колмогорову и аппроксимативный ранг",
Труды МИАН, т.303.
</p>

{% endblock %}
