{% extends "base_ru.html" %}

{% block content %}

<h1>Публикации</h1>

<h2>2020</h2>

<p>
L. Burusheva, V.Temlyakov,
"Sparse approximation of individual functions" //
Journal of Approximation Theory, V.259. (Q2)
DOI: <a href="https://doi.org/10.1016/j.jat.2020.105471">10.1016/j.jat.2020.105471</a>
</p>

<p>
V.N. Temlyakov, M. Ullrich,
"On the fixed volume discrepancy of the Fibonacci sets in the integral norms" //
J. Complexity, v.61. (Q1)
DOI: <a href="https://doi.org/10.1016/j.jco.2020.101472">10.1016/j.jco.2020.101472</a>
</p>

<p>
P.A. Borodin, E. Kopecká,
"Alternating projections, remotest projections, and greedy approximation" //
J. of Approx. Th., 260. (Q2)
DOI: <a href="https://doi.org/10.1016/j.jat.2020.105486">10.1016/j.jat.2020.105486</a>
</p>

<p>
S. Konyagin, B. Sudakov,
"An extremal problem for integer sparse recovery" //
Linear Algebra and Applications, 61:1. (Q2)
DOI: <a href="https://doi.org/10.1016/j.laa.2019.10.005">10.1016/j.laa.2019.10.005</a>
</p>

<p>
П.А. Бородин,
"Жадные приближения произвольным множеством" //
Изв. РАН. Сер. Матем, <b>84</b>:2 (2020), 43--59. (Q2)
DOI: <a href="https://doi.org/10.4213/im8891">10.4213/im8891</a>
</p>

<p>
К.С. Рютин,
"Целочисленные матрицы измерения с малыми элементами, обеспечивающие восстановление векторов" //
Матем. заметки, <b>107</b>:2 (2020), 363--366. (Q3)
DOI: <a href="https://doi.org/10.4213/mzm12533">10.4213/mzm12533</a>
</p>

<p>
К.С. Шкляев,
"Связное компактное локально чебышёвское множество в конечномерном пространстве является чебышёвским" //
Матем. сб., <b>211</b>:3 (2020), 158--168. (Q2)
DOI: <a href="https://doi.org/10.4213/sm9227">10.4213/sm9227</a>
</p>

<p>
М.Р. Габдуллин,
"Нижние оценки винеровской нормы в Z_p^d" //
Матем. Заметки, <b>107</b>:4 (2020), 515--532. (Q3)
DOI: <a href="https://doi.org/10.4213/mzm12426">10.4213/mzm12426</a>
</p>

<p>
И.В. Лимонова,
"О разбиении матрицы на две подматрицы с экстремально малой операторной нормой" //
Матем. Заметки, <b>108</b>:1 (2020), 153--157. (Q3)
DOI: <a href="https://doi.org/10.4213/mzm12806">10.4213/mzm12806</a>
</p>

<p>
Б.С. Кашин, И.В. Лимонова,
"Слаболакунарные ортогональные системы и свойства оператора мажоранты частных сумм для подсистем" //
Труды МИАН, v.311. (Q3)
</p>

<p>
Б.С. Кашин,
"Замечания о равномерной и абсолютной сходимости ортогональных рядов" //
Матем. заметки, <b>108</b>:5 (2020), 782--786. (Q3)
</p>

<p>
Т.И. Зайцева,
"Простые тайлы и аттракторы" //
Матем. сб., <b>211</b>:9 (2020), 24--59. (Q2)
DOI: <a href="https://doi.org/10.4213/sm9169">10.4213/sm9169</a>
</p>

<h2>2019</h2>

<p>
V.N. Temlyakov,
"Smooth fixed volume discrepancy, dispersion, and related problems" //
J. Approx. Theory, <b>237</b> (2019), 113--134. (Q2)
DOI: <a href="https://doi.org/10.1016/j.jat.2018.09.002">10.1016/j.jat.2018.09.002</a>
</p>

<p>
A. V. Dereventsov, V.N. Temlyakov, 
"A unified way of analyzing some greedy algorithms" //
Journal of Functional Analysis, <b>277</b>:12 (2019). (Q1)
DOI: <a href="https://doi.org/10.1016/j.jfa.2019.108286">10.1016/j.jfa.2019.108286</a>
</p>

<p>
Ф. Дай, А. Примак, В. Н. Темляков, С. Ю. Тихонов,
"Дискретизация интегральной нормы и близкие задачи" //
Успехи математических наук, <b>74</b>:4 (2019), 3--58. (Q1)
DOI: <a href="https://doi.org/10.1070/RM9892">10.1070/RM9892</a>
</p>

<p>
Б.С. Кашин, И.В. Лимонова,
"О разбиении матрицы на две подматрицы с экстремально малой (2,1)-нормой" //
Математические заметки, <b>106</b>:1 (2019), 53--61. (Q3)
DOI: <a href="https://doi.org/10.4213/mzm12325">10.4213/mzm12325</a>
</p>

<p>
Б.С. Кашин, И.В. Лимонова,
"О выборе плотной слаболакунарной подсистемы в ограниченной
ортонормированной системе" //
Успехи математических наук, <b>74</b>:5 (2019), 187--188. (Q1)
DOI: <a href="https://doi.org/10.4213/rm9907">10.4213/rm9907</a>
</p>

<p>
A.A. Kuleshov,
"Continuous sums of ridge functions on a convex body with Dini condition on moduli of continuity at boundary points" //
Analysis Mathematica, <b>45</b>:2 (2019), 335--345. (Q4)
DOI: <a href="https://doi.org/10.1007/s10476-018-0607-0">10.1007/s10476-018-0607-0</a>
</p>

<p>
К.С. Рютин,
"Восстановление целочисленных разреженных векторов по линейным измерениям" //
Успехи математических наук, <b>74</b>:6 (2019), 167--168. (Q1)
DOI: <a href="https://doi.org/10.4213/rm9903">10.4213/rm9903</a>
</p>


<h2>2018</h2>

<p>
В.Н. Темляков,
"The Marcinkiewicz-Type Discretization Theorems" //
Constructive Approximation, <b>48</b>2 (2018), 337--369. (Q1)
DOI: <a href="https://doi.org/10.1007/s00365-018-9446-2">10.1007/s00365-018-9446-2</a>
</p>

<p>
В.Н. Темляков,
"Universal discretization" //
Journal of Complexity, <b>47</b> (2018). (Q1)
DOI: <a href="https://doi.org/10.1016/j.jco.2018.02.001">10.1016/j.jco.2018.02.001</a>
</p>

<p>
В.Н. Темляков, Б.С. Кашин,
"Замечания о дискретизации тригонометрических многочленов с заданным спектром" //
Успехи матем. наук, <b>73</b>6 (2018). (Q1)
DOI: <a href="https://doi.org/10.4213/rm9857">10.4213/rm9857</a>
</p>

<p>
С. Дж. Дилуорс, Д. Куцарова, В. Н. Темляков, Б. Уоллис
"Весовые почти жадные базисы" //
Труды МИАН, <b>303</b> (2018), 120--141. (Q3)
DOI: <a href="https://doi.org/10.1134/S0371968518040106">10.1134/S0371968518040106</a>
</p>

<p>
П.А. Бородин, С.В. Конягин,
"Convergence to zero of exponential sums with positive integer coefficients and
approximation by sums of shifts of a single function on the line" //
Analysis Mathematica, <b>44</b>:2 (2018), 163--183. (Q3)
DOI: <a href="https://doi.org/10.1007/s10476-018-0204-2">10.1007/s10476-018-0204-2</a>
</p>

<p>
С.В. Конягин, А.А. Кулешов, В. Е. Майоров,
"Некоторые проблемы теории ридж-функций" //
Труды МИАН, <b>301</b> (2018), 155-181. (Q3)
DOI: <a href="https://doi.org/10.1134/S0081543818040120">10.1134/S0081543818040120</a>
</p>

<p>
Б.С. Кашин, К.С. Рютин, Ю.В. Малыхин,
"Поперечник по Колмогорову и аппроксимативный ранг" //
Труды МИАН, <b>303</b> (2018), 155--168. (Q3)
DOI: <a href="https://doi.org/10.1134/S037196851804012X">10.1134/S037196851804012X</a>
</p>

<p>
A.R. Valiullin, A.R. Valiullin, V.V. Galatenko,
"Greedy expansions with prescribed coefficients in Hilbert spaces" //
International Journal of Mathematics and Mathematical Sciences. (2018) (Q4)
DOI: <a href="https://doi.org/10.1155/2018/4867091">10.1155/2018/4867091</a>
</p>

<h1>Монографии (главы в монографиях)</h1>

<p>
V.N. Temlyakov,
"Multivariate Approximation",
Cambridge University Press. 2018, Cambridge.
</p>

<p>
V.N. Temlyakov,
"Hyperbolic Cross Approximation",
Birkhäuser. 2018, Cham.
</p>

<p>
V.N. Temlyakov,
"Topics in Classical and Modern Analysis", Chapter: "Fixed Volume Discrepancy in the Periodic Case",
Springer. 2019, Cham.
</p>

<p>
V.V. Galatenko,
"Modern Mathematics and Mechanics. Understanding Complex Systems",
Chapter: "Convergence almost everywhere of orthorecursive expansions in systems of translates and dilates",
Springer. 2019, Cham.
</p>

{% endblock %}
