{% extends "base_ru.html" %}

{% block content %}
<h1>Семинар лаборатории</h1>

<p>
9 октября 2020 г., 15:00.
И.В. Лимонова, "О дискретизации нормы в L_2".
 
Будет показано, что для дискретизации типа Марцинкевича для n-мерного
подпространства с неравенством Никольского достаточно cn узлов. Это результат
из недавней работы с В. Н. Темляковым On sampling discretization in L_2
(<a href="https://arxiv.org/abs/2009.10789">arXiv:2009.10789</a>).  Также будет
приведён пример пространства функций X со следующим свойством: для точной
дискретизации L_2-нормы необходим отрицательный вес, при условии минимальности
количества узлов.
</p>

<p>
2 октября 2020 г., 15:00.
Ал.Р.~Валиуллин и Ар.Р.~Валиуллин, "Об усилении 
результата про жадные разложения с фиксированными коэффициентами".
 
Будет показано, что для сходимости жадных разложений с фиксированными коэффициентами
достаточно условий c_n =o(1/sqrt(n)) с ослабляющей последовательностью t_n = t > 0.
Усиление заключается в том, что рассмотрено условие t_n = t > 0 вместо условия t_n = 1.
</p>

<p>
25 сентября 2020 г., 15:00
П.А.~Комиссарова, "Аппроксимативные свойства нейронных сетей".

Будет представлен обзор существующих результатов в области аппроксимации
функций нейронными сетями.  Будут рассмотрены различные классы функций,
активации нейронов, однослойные и многослойные нейросети, а также как общий,
так и конструктивный подходы к их построению.
</p>
  

<p>
22 мая 2020 г., 15:00.
Alberto Debernardi, "Riesz basis of exponentials for convex polytopes with symmetric faces"<br/>
 
Abstract: We will discuss a joint result with Nir Lev, which states that for
any convex and centrally symmetric polytope $\Omega\subset \mathbb{R}^d$, whose
faces of all dimensions are also centrally symmetric, there exists a Riesz
basis of exponential functions for $L^2(\Omega)$.  This result extends
previously known statements in this direction due to Lyubarskii and
Rashkovskii, and also due to Walnut ($d=2$), and by Grepstad and Lev (in
arbitrary dimensions), where the same conclusion is obtained under the
additional assumption that all the vertices of $\Omega$ lie in the lattice
$\mathbb{Z}^d$.

Presentation: <a href="media/seminar/20200522-alberto-debernardi.pdf">PDF</a>
</p>

<p>
1 мая 2020 г., 15:00.
Валиуллин Ал. Р. и Валиуллин Ар. Р., а также В. В. Галатенко, сделают доклад
"Усиление положительного результата о сходимости жадных разложений с фиксированными коэффициентами"
<br/>
 
Аннотация доклада.
Как известно, для сходимости жадных разложений с фиксированными
коэффициентами к разлагаемому элементу в гильбертовых пространствах
(помимо очевидного условия расходимости ряда из коэффициентов) достаточно
требовать сходимость ряда из квадратов коэффициентов; в то же время,
для коэффициентов, равных по порядку 1/sqrt(n), сходимость уже может
нарушаться. Комбинация этих утверждений приводит к "серой зоне"
между l^2 и 1/sqrt(n). В докладе будет показано, что на самом деле
для сходимости достаточно требовать выполнения условия c_n = o(1/sqrt(n))
(где c_n - коэффициенты разложения), что убирает "серую зону" между
положительным и отрицательным результатами.
</p>

<p>
17 апреля 2020 г., 15:00.
Т.И.Зайцева, К.С.Рютин, Ю.В.Малыхин.
"Восстановление регулярных ридж функций (продолжение)."
</p>

<p>
10 апреля 2020 г., 15:00.
Т.И.Зайцева, К.С.Рютин, Ю.В.Малыхин.
"Восстановление регулярных ридж функций (продолжение)."

Мы рассказажем в деталях теорему о восстановлении регулярных ридж-функций, с
ослабленными условиями на порождающую функцию (аналитичность в окрестности
[-1,1]), и с более точными оценками на количество измерений.
</p>

<p>
6 марта 2020 г., 15:00.
К.С. Шкляев. "О плотности сумм сжатий и сумм сдвигов одной функции в
пространствах L_p(R) и C_0(R), а также о плотности ридж-функций вида g (<x,
w_1>) + ... + g (<x, w_n>)  в пространстве C_0(R^n) с топологией равномерной
сходимости на компактах."
</p>

<p>
28 февраля 2020 г., 15:00.
Зайцева Т.И. "О системах всплесков (вейвлетов): как и зачем они появились, 
их преимущества перед другими базисными системами, различные примеры, свойства и приложения."
</p>

<p>
21 февраля 2020 г., 15:00.
И.В. Лимонова. "О разбиении матрицы на две подматрицы с экстремальной оценкой нормы образа всякого вектора."
</p>

<p>
14 февраля 2020 г., 15:00.
А.В. Деревенцов. "The Natural Greedy Algorithm for Reduced Bases in Banach Spaces".
<br/>
 
Аннотация.
The goal of a reduced basis method is to find an approximating subspace for a
given set of data. We present the Natural Greedy Algorithm — a novel way of
constructing reduced bases in Banach spaces that utilizes the norming
functionals of the basis elements in order to project onto subspaces. Such an
approach allows for a significantly simpler basis construction as compared to
the classical Greedy Algorithm, which computes projections by solving a
high-dimensional minimization problem. As it turns out, the performance of the
Natural Greedy Algorithm is similar to that of the Greedy Algorithm in terms of
both theoretical and numerical results, while the realization of the latter is
substantially more computationally expensive in general. In addition, we
compare our algorithm to the other two popular reduced bases techniques: the
Proper Orthogonal Decomposition and the Empirical Interpolation Method.
</p>
 
<p>
24 января 2020 г., 15:00.
Л.Ш. Бурушева. "Об $o$-оценке для m-членного приближения и об апостериорной оценке скорости
сходимости жадного алгоритма (по совместной с В. Н. Темляковым <a href="https://arxiv.org/abs/1911.02593">работе</a>)"
</p>

<p>
27 декабря 2019 г., 15:00.
М. Р. Габдуллин, "Маленький доклад о больших значениях L^1-норм тригонометрических полиномов
с коэффициентами, равными нулю или единице".
("Молодёжный" семинар.)
</p> 

<p>
13 декабря 2019 г., 15:00.
Е. Д. Косов. "Об общем методе чейнинга и его возможных применениях для вопросов дискретизации".
("Молодёжный" семинар.)
</p> 

<p>
3 декабря 2019 г., 18:30, <b>ГЗ, аудитория 16-08</b> (совместно со спецсеминаром).
П.А. Бородин. "Пример расходимости жадного алгоритма по несимметричному словарю (с доказательством)".
</p>

<p>
29 ноября 2019 г, 15:00. 
Дмитрий Ромский, Ольга Машкова.
"Верхняя оценка расстояний Банаха-Мазура до куба".
<br/>

Аннотация: в докладе будет представлен основной результат, полученный для
верхней оценки расстояний Банаха-Мазура до куба, по материалам статей A.
Giannopoulos "A note on the Banach-Mazur distance to the cube" и S.J. Szarek,
M. Talagrand "An «isomorphic» version of the Sauer-Shelah lemma and the
Banach-Mazur distance to the cube".
</p>

<p>
15 ноября 2019 г., 15:00.
А.С. Рубцова. "О дисперсии множества Фибоначчи,
по статье В.Н. Темлякова ``Dispersion of the Fibonacci and the Frolov point sets''"
</p>

<p>1 ноября 2019 г., 15:00.
Ю.В. Малыхин, К.С. Рютин.  
"Восстановление регулярных ридж-функций".
("Молодёжный" семинар.)
</p>


<p>18 октября 2019 г., 15:00.
В.Н. Темляков. "Некоторые теоремы, связанные с жадными алгоритмами". ("Молодёжный" семинар.)
</p>

<p>11 октября 2019 г., 15:00.
Темляков Владимир Николаевич. "Chaining". ("Молодёжный" семинар.)
</p>

<p>19 апреля 2019 г., 16:15.
Малыхин Юрий Вячеславович. &quot;Приближение функций многих переменных с маломерной структурой&quot;<br/>
При аппроксимации функций многих переменных
из классических пространств гладкости
возникает эффект "проклятия размерности" --
сложность растёт экспоненциально по количеству
переменных. Весьма естественно в этом случае
рассматривать классы функций, имеющих
маломерную структуру. В качестве примера
мы разберём 
<a href="https://arxiv.org/abs/1801.08499">работу Vybiral, Tyagi (2018)</a>,
в которой приближаются функции, представимые в
виде суммы слагаемых, каждое из которых
зависит лишь от небольшого числа переменных.<br/>
Далее мы обсудим возможные задачи для
дальнейшей работы в этом направлении.
</p>

<p>29 марта 2019 г., 16:15.
Малыхин Юрий Вячеславович. &quot;Обработка и анализ больших данных в поисковых системах&quot;<br/>

В докладе будет рассказано о данных, возникающих
при работе систем интернет-поиска (таких как Google
или Яндекс), о ранжировании поисковой выдачи
и возникающих при этом задачах машинного обучения.
Также мы коснёмся технической стороны вопроса
обработки больших данных (MapReduce, YT).
</p>

<p>15 марта 2019 г., 16:00. Е. Дюжев.</br>
Рассматривается асимметричная задача коммивояжера. Будет описан подход к
построению алгоритма поиска приближенного решения задачи с помощью релаксации
Хелда-Карпа. Идея алгоритма лежит в основе поиска тонкого остовного дерева. В
частности, для распределения на остовных деревьях, максимизирующего энтропию,
может быть установлена тонкость порядка log(n)/ loglog(n) с помощью
неравенства Чернова.  Дополнительно будет дан обзор связи задачи со спектрально
тонкими деревьями, проблемой Кадисона-Зингера.
</p>


<p>14 ноября 2018 г. А.С. Рубцова. &quot;Оценки дисперсии подмножеств единичного куба&quot;.</p>

<p>24 октября 2018 г. М.Р. Габдуллин. &quot;Доказательства теорем Марцинкевича&quot;.</p>

<p>17 октября 2018 г. В.Н. Темляков. &quot;Дискретизация чебышевской нормы. Численное интегрирование&quot;.</p>

<p>17 октября 2018 г. В.Н. Темляков. &quot;Вероятностный метод и новые результата дискретизации интегральных норм&quot;.</p>

<p>3 октября 2018 г. К.С. Рютин. &quot;Дискретизация норм. Теоремы типа Марцинкевича&quot;.</p>

<p>14 сентября 2018 г., пятница, 16:45&mdash;20:00, ауд. 16-16<br/>
1. акад. С.В. Конягин.  О восстановлении целочисленного вектора по линейным измерениям.<br/>
2. проф. П.А. Бородин. Жадные и нежадные приближения произвольным множеством.<br/>
</p>

<p>25 мая 2018 г., 16:00. В.Н. Темляков. &quot;Обзор задач по жадным алгоритмам.  Обзор задач многомерной дискретизации&quot;</p>

<p>25 мая 2018 г., 18:30. Б.С. Кашин, Ю.В. Малыхин, К.С Рютин &quot;Колмогоровские поперечники и аппроксимативный ранг&quot;</p>

<p>31 марта 2018 г. Д.П. Ветров, &quot;Открытые проблемы в глубинном обучении: Байесовское решение&quot;.</p>

<p>16 марта 2018 г. В.Н. Темляков, &quot;Дискретизация интегральных норм&quot;.</p>

{% endblock %}
