{% extends "base_ru.html" %}

{% block content %}
<h1>Спецкурс "Современные методы теории аппроксимации", 2019/2020 учебный год </h1>

<p>
<b>Спецкурс проходит по субботам в 15 часов, в аудитории 13-27 ГЗ МГУ. Лекторы: К.С. Рютин, Ю.В. Малыхин.</b>
</p>

Блок лекций "Нижние оценки в теории приближений".

<p>
2 лекция. 14 декабря 2019 г. "Двойственность в теории приближений".
<a href="media/spk19/lec3.pdf">Конспект лекции</a>.
</p>

<p>
2 лекция. 7 декабря 2019 г. "Нижние оценки приближений тригонометрическими полиномами".
<a href="media/spk19/lec2full.pdf">Конспект лекции</a>.
</p>

<p>
1 лекция. 30 ноября 2019 г. "Нижние оценки приближений алгебраическими многочленами".
<a href="media/spk19/lec1.pdf">Конспект лекции</a>.
</p>

Первое занятие: 12 октября.

{% endblock %}
