{% extends "base_ru.html" %}

{% block content %}
<h1>Спецкурс "Геометрические и комбинаторные свойства матриц и аппроксимация", 2020/2021 учебный год </h1>

<p>
<b>Спецкурс проходит по субботам в 15:30 часов, онлайн. Лекторы: К.С. Рютин, Ю.В. Малыхин.</b>
</p>

I часть. "Сложность матриц и аппроксимация".

<p>
<a href="media/spk20/zadachi.pdf">Задачи</a>
</p>

<p>
8 лекция. 5 декабря 2020 г. Сложность булевых функций, матриц и графов.
[<a href="media/spk20/lec8.tex">TeX</a>],
[<a href="media/spk20/lec8-present.pdf">PDF</a>],
[<a href="media/spk20/lec8-handout.pdf">PDF_handout</a>]
</p>


<p>
7 лекция. 28 ноября 2020 г. Ранг тензоров.
[<a href="media/spk20/lec7.tex">TeX</a>],
[<a href="media/spk20/lec7-present.pdf">PDF</a>],
[<a href="media/spk20/lec7-handout.pdf">PDF_handout</a>]
</p>


<p>
6 лекция. 21 ноября 2020 г. Аппроксимативный ранг.
[<a href="media/spk20/lec6.tex">TeX</a>],
[<a href="media/spk20/lec6-present.pdf">PDF</a>],
[<a href="media/spk20/lec6-handout.pdf">PDF_handout</a>]
</p>


<p>
5 лекция. 14 ноября 2020 г. Реализация матриц с максимальным отступом (margin).
[<a href="media/spk20/lec5.tex">TeX</a>],
[<a href="media/spk20/lec5-present.pdf">PDF</a>],
[<a href="media/spk20/lec5-handout.pdf">PDF_handout</a>]
</p>

<p>
4 лекция. 7 ноября 2020 г. Факторизационная $\gamma_2$-норма.
[<a href="media/spk20/lec4.tex">TeX</a>],
[<a href="media/spk20/lec4-present.pdf">PDF</a>],
[<a href="media/spk20/lec4-handout.pdf">PDF_handout</a>]
</p>

<p>
3 лекция. 31 октября 2020 г. Жёсткие матрицы.
[<a href="media/spk20/lec3.tex">TeX</a>],
[<a href="media/spk20/lec3-present.pdf">PDF</a>],
[<a href="media/spk20/lec3-handout.pdf">PDF_handout</a>]
</p>

<p>
2 лекция. 24 октября 2020 г. Коммуникационная сложность (продолжение).
[<a href="media/spk20/lec2.tex">TeX</a>],
[<a href="media/spk20/lec2-present.pdf">PDF</a>],
[<a href="media/spk20/lec2-handout.pdf">PDF_handout</a>]
</p>


<p>
1 лекция. 17 октября 2020 г. Коммуникационная сложность.
[<a href="media/spk20/lec1.tex">TeX</a>],
[<a href="media/spk20/lec1-present.pdf">PDF</a>],
[<a href="media/spk20/lec1-handout.pdf">PDF_handout</a>]
</p>


<p>
0 лекция. 10 октября 2020 г. Вступительная леция. Необходимые сведения из линейной алгебы.
[<a href="media/spk20/lec0.tex">TeX</a>],
[<a href="media/spk20/lec0-present.pdf">PDF</a>]
[<a href="media/spk20/lec0-handout.pdf">PDF_handout</a>] (без пауз, слайды целиком)
</p>

{% endblock %}
