{% extends "base_ru.html" %}

{% block content %}
<h1>Спецкурс &quot;Теория приближений и приложения&quot;, 2018/2019 учебный год </h1>

<p>
<b>Спецкурс проходит по субботам в 15 часов 15 минут, в аудитории 16-16 ГЗ МГУ. Лекторы: К.С. Рютин, Ю.В. Малыхин.</b>
</p>

<p>Блок лекций &quot;Приближения в евклидовом пространстве&quot;.<br/>
Лекции 24 ноября и 1 декабря. n-членные приближения. <a href="media/spk18/lec4_5.pdf">Конспект лекций 4-5</a><br/>
Лекция 17 ноября. Приближение множеств. <a href="media/spk18/lec3.pdf">Конспект лекции</a><br/>
Лекция 10 ноября. Приближение линейными пространствами. <a href="media/spk18/lec2.pdf">Конспект лекции</a><br/>
Лекция 3 ноября. Введение. Геометрический и аналитический подходы к определению евклидовых пространств. Примеры.
Гильбертово пространство. Тождество параллелограмма -- критерий гильбертовости банахова пространства. Транзитивность.
Ортогональная проекция на подпространство. Метрическая проекция, чебышёвские множества. Выпуклое и замкнутое множество
является чебышёвским. Липшицевость метрической проекции, критерий ближайшего элемента.
Чебышёвское множество в конечномерном пространстве выпукло.
</p>

Первое занятие: 22 сентября.

{% endblock %}
