{% extends "base_ru.html" %}

{% block content %}
<ul>
    <li>
        <a href="http://imi.cas.sc.edu/people/vladimir-temlyakov/">Темляков Владимир Николаевич</a>
        (руководитель лаборатории)
    </li>
    <li><a href="http://www.mathnet.ru/person8491">Конягин Сергей Владимирович</a></li>
    <li><a href="http://www.mathnet.ru/person18031">Кашин Борис Сергеевич</a></li>
    <li>
        <a href="http://new.math.msu.su/department/opu/node/86">Рютин Константин Сергеевич</a>
        (заместитель руководителя)
    </li>
    <li>Бородин Петр Анатольевич</li>
    <li>Малыхин Юрий Вячеславович</li>
    <li>Кулешов Александр Андреевич</li>
    <li>Арутюнян Лаврентин Мартунович</li>
    <li>Косов Егор Дмитриевич</li>
    <li>Бурушева Лейла Шариповна</li>
    <li>Лимонова Ирина Викторовна</li>
    <li>Рубцова Анастасия Сергеевна</li>
    <li>Шкляев Константин Сергеевич</li>
    <li>Габдуллин Михаил Рашидович</li>
    <li>Галатенко Владимир Владимирович</li>
    <li>Горяйнова Оксана Сергеевна</li>
</ul>
{% endblock %}
