{% extends "base_ru.html" %}

{% block content %}
    <table>
        <tr>
            <td>
                <img src="media/staff/Temlyakov.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person18590">Темляков Владимир Николаевич</a><br/><br/>
                Руководитель лаборатории.<br/>
                USC, Dept. of Mathematics, Professor, Carolina Distinguished Professor<br/>
                Lomonosov Moscow State University, Leading scientist<br/>
                Steklov Institute of Mathematics, Scientist, Leading Scientist, Associate member<br/>
                <a href="media/TemlyakovCV.pdf">Curriculum vitae</a><br/><br/>
                temlyakovv<span style="display:none">math</span>@gmail.com
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Konyagin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/person8491">Конягин Сергей Владимирович</a><br/><br/>
                Заведующий отделом теории чисел Математического института имени В.А. Стеклова РАН, академик.<br/><br/>
                konyagin23<span style="display:none">math</span>@gmail.com
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Kashin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/person18031">Кашин Борис Сергеевич</a><br/><br/>
                Заведующий кафедрой ТФФА МГУ, главный научный сотрудник МИАН, академик.<br/><br/>
                kashin<span style="display:none">math</span>@mi-ras.ru
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Rjutin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/person18031">Рютин Константин Сергеевич</a><br/><br/>
                Заместитель руководителя лаборатории.<br/><br/>

                kriutin<span style="display:none">math</span>@yahoo.com
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Malykhin.jpg" style="width:300px;">
            </td>
            <td>
                Малыхин Юрий Вячеславович<br/><br/>
                Старший научный сотрудник.<br/><br/>
                malykhin<span style="display:none">math</span>@mi-ras.ru
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Kuleshov.jpg" style="width:300px;">
            </td>
            <td>
                Кулешов Александр Андреевич<br/><br/>
                Старший научный сотрудник.<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Galatenko.jpg" style="width:300px;">
            </td>
            <td>
                Галатенко Владимир Владимирович<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Gabdullin.jpg" style="width:300px;">
            </td>
            <td>
                Габдуллин Михаил Рашидович<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Limonova.jpg" style="width:300px;">
            </td>
            <td>
                Лимонова Ирина Викторовна<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Shklyaev.jpg" style="width:300px;">
            </td>
            <td>
                Шкляев Константин Сергеевич<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Goryainova.jpg" style="width:300px;">
            </td>
            <td>
                Горяйнова Оксана Сергеевна<br/><br/>
            </td>
        </tr>
        

    </table>

<ul>
    <li>Бородин Петр Анатольевич</li>
    <li>Арутюнян Лаврентин Мартунович</li>
    <li>Косов Егор Дмитриевич</li>
    <li>Бурушева Лейла Шариповна</li>
    <li>Рубцова Анастасия Сергеевна</li>
</ul>
{% endblock %}
