{% extends "base_ru.html" %}

{% block content %}
    <table>
        <tr>
            <td>
                <img src="media/staff/Temlyakov.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person18590">Темляков Владимир Николаевич</a><br/><br/>
                Руководитель лаборатории.<br/>
                USC, Dept. of Mathematics, Professor, Carolina Distinguished Professor<br/>
                Lomonosov Moscow State University, Leading scientist<br/>
                Steklov Institute of Mathematics, Scientist, Leading Scientist, Associate member<br/>
                <a href="media/TemlyakovCV.pdf">Curriculum vitae</a><br/><br/>
                temlyakovv<span style="display:none">math</span>@gmail.com
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Konyagin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/person8491">Конягин Сергей Владимирович</a><br/><br/>
                Заведующий отделом теории чисел Математического института имени В.А. Стеклова РАН, академик.<br/><br/>
                konyagin23<span style="display:none">math</span>@gmail.com
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Kashin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/person18031">Кашин Борис Сергеевич</a><br/><br/>
                Заведующий кафедрой ТФФА МГУ, главный научный сотрудник МИАН, академик.<br/><br/>
                kashin<span style="display:none">math</span>@mi-ras.ru
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Borodin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/person8531">Бородин Петр Анатольевич</a><br/><br/>
                Профессор кафедры ТФФА.<br/><br/>
                pborodin<span style="display:none">math</span>@inbox.ru
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Rjutin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person17749">Рютин Константин Сергеевич</a><br/><br/>
                Заместитель руководителя лаборатории.<br/><br/>

                kriutin<span style="display:none">math</span>@yahoo.com
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Malykhin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person26649">Малыхин Юрий Вячеславович</a><br/><br/>
                Старший научный сотрудник.<br/><br/>
                malykhin<span style="display:none">math</span>@mi-ras.ru
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Kuleshov.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person87296">Кулешов Александр Андреевич</a><br/><br/>
                Старший научный сотрудник.<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Galatenko.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person11635">Галатенко Владимир Владимирович</a><br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Gabdullin.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person76728">Габдуллин Михаил Рашидович</a><br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Limonova.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person120169">Лимонова Ирина Викторовна</a><br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Shklyaev.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person138871">Шкляев Константин Сергеевич</a><br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Goryainova.jpg" style="width:300px;">
            </td>
            <td>
                Горяйнова Оксана Сергеевна<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Rubtsova.jpg" style="width:300px;">
            </td>
            <td>
                Рубцова Анастасия Сергеевна<br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Arutyunyan.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person103302">Арутюнян Лаврентин Мартунович</a><br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Kosov.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person101861">Косов Егор Дмитриевич</a><br/><br/>
            </td>
        </tr>
        <tr>
            <td>
                <img src="media/staff/Burusheva.jpg" style="width:300px;">
            </td>
            <td>
                <a href="http://www.mathnet.ru/rus/person130666">Бурушева Лейла Шариповна</a><br/><br/>
            </td>
        </tr>

        <tr>
            <td>

            </td>
            <td>
                Зайцева Татьяна<br/><br/>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                Светлов Юрий<br/><br/>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                Дюжев Евгений<br/><br/>
            </td>
        </tr>

    </table>
{% endblock %}
