{% extends "base_ru.html" %}

{% block htmlbase %}
    <base href="../">
{% endblock %}

{% block content %}
<h1>Международная конференция, посвященная 100-летию со дня рождения С.Б. Стечкина.</h1>

<h1>Конференция переносится на неопределённый срок в связи с эпидемиологической ситуацией!</h1>

Пленарные докладчики, подтвердившие участие:
<ul>
    <li>Антонов Николай Юрьевич</li>
    <li>Арестов Виталий Владимирович</li>
    <li>Бердышев Виталий Иванович</li>
    <li>Волков Юрий Степанович</li>
    <li>Геворкян Гегам Григорьевич
    <li>Иванов Валерий Иванович</li>
    <li>Конягин Сергей Владимирович</li>
    <li>Лукашов Алексей Леонидович</li>
    <li>Кротов Венимамин Григорьевич</li>
    <li>Тихонов Сергей Юрьевич</li>
    <li>Царьков Игорь Германович</li>
    <li>Feng Dai</li>
    <li>Gustavo Garrigos</li>
    <li>Szilárd Révész</li>
    <li>Tino Ullrich</li>
</ul>

Секции:
<ol>
    <li>Приближения в банаховых пространствах</li>
    <li>Гармонический анализ</li>
    <li>Многомерная аппроксимация</li>
    <li>Дискретизация</li>
</ol>

Оргкомитет: 
<ul>
    <li>Д.В. Трещёв (сопредседатель)</li>
    <li>В.Н. Темляков (сопредседатель)</li>
    <li>С.В. Конягин (сопредседатель)</li>
    <li>Ю.В. Малыхин (зам. председателя)</li>
    <li>О.С. Горяйнова (отв. секретарь)</li>
    <li>А.Ю. Шадрин</li>
    <li>К.С. Рютин</li>
    <li>Н.Ю. Андреев</li>
    <li>М.Р. Габдуллин</li>
</ul>

Программный комитет:
<ul>
    <li>В.И. Бердышев (сопредседатель)</li>
    <li>Б.С. Кашин (сопредседатель)</li>
    <li>Н.Ю. Антонов</li>
    <li>В.В. Арестов</li>
    <li>О.В. Бесов</li>
    <li>В.И. Иванов</li>
    <li>С.В. Конягин</li>
    <li>Б. Сендов</li>
    <li>С.А. Теляковский</li>
    <li>В.Н. Темляков</li>
    <li>Н.Н. Холщевникова</li>
    <li>И.Г. Царьков</li>
    <li>Н.И. Черных</li>
    <li>А.Ю. Шадрин</li>
</ul>

Контакты: approx.lab.msu@gmail.com

<table>
<tr>
    <td style="vertical-align:top">
        <ul class="left_menu">
            <!-- <li><a href="sbs100/index.html">Home</a></li> -->
            <!-- <li><a href="conf2018/committee.html">Committee</a></li>
            <li><a href="conf2018/directions.html">Directions</a></li>
            <li><a href="conf2018/participants.html">Participants</a></li>
            <li><a href="conf2018/program.html">Program</a></li>
            <li><a href="conf2018/contacts.html">Contacts</a></li> -->
        </ul>
    </td>
    <td style="vertical-align:top">
        {% block confcontent %}
        {% endblock %}
    </td>
</tr>
</table>

{% endblock %}
